#miCanvas,
#infoCanvas {

   border: 1px solid #ccc;

}

#infoCanvas {

   background-color: black;

}

#canvasJuego {

   display: flex;

   flex-direction: column;

   align-items: center;
}

#contenedorJuego{
   display: flex;

   align-items: center;

   justify-content: center;

   gap: 50px;
}


.botones {
   display: flex;

   justify-content: center;
}

#sectionDificultad{
   text-align: center;   
}

body {

   font-family: Arial, Helvetica, sans-serif;

   text-align: center;

   background-color: rgb(51, 51, 51);

   color: rgb(255, 255, 255);

}

.tiny5-regular {
   font-family: "Tiny5", serif;

   font-weight: 400;

   font-style: normal;
}

#Logo {

   margin: 0px auto;

   display: block;

}

section button {

   margin: 0px auto;

   display: block;

}

button, option, select {

   border-color: yellowgreen;

   color: #9226d9;

   background-color: rgb(217, 217, 217);

}

h4, p{
   color: yellowgreen;
   text-shadow: 1px 1px 0 #9226d9, -1px -1px 0 #9226d9;
}